.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color--light--blue);
    font-family: var(--ff--lato);
    padding: 16px 0px;
    min-height: 320px;
}

.bar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px auto;
    width: 90%
}

.container__btn {
    display: flex;
    justify-content: space-between;
}

.filter__btn {
    background-color: #fff;
    color: var(--color--blue);
    padding: 5px 8px;
    border: 1px solid var(--color--blue);
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    text-transform: uppercase;
    user-select: none;
}

.search__input {
    padding: 5px 8px;
    font-family: inherit;
    border-radius: 5px;
    border: 1px solid var(--color--blue);
    color: var(--color--blue);
    user-select: none;
}

.search__input:focus-visible {
    outline: none;
}

.form__container {
    opacity: 0;
    height: 0px;
    transition: all .6s linear;
}

.open {
    opacity: 1;
    height: auto;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 350px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0px auto;
    text-transform: uppercase;
    width: 90%;
    font-weight: bold;
    color: var(--color--blue);
    user-select: none;
}

.row__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row__data {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0px auto;
    background-color: var(--color--white);
    width: 90%;
    border-radius: 8px;
    user-select: none;
    /* box-shadow: 1px 1px 5px 0px rgba(87,87,87,0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(87,87,87,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(87,87,87,0.75); */
}

.row__data > div, .row > div, .row__data > .profile__link {
    padding: 5px 8px;
    width: 150px;
    text-align: center;
}

.profile__link {
    text-decoration: none;
    color: var(--color--blue);
}

.profile__link:active {
    color: var(--color--light--blue);
}

@media screen and (max-width: 768px) {

    .table {
        overflow-x: scroll;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: var(--color--blue);
        padding: 0px 16px;
    }

    .table::-webkit-scrollbar {
        width: 12px;
    }

    .table::-webkit-scrollbar-track {
        background-color: var(--color--light--blue);
    }

    .table::-webkit-scrollbar-thumb {
        background-color: var(--color--navy);
        border-radius: 16px;
        border: 3px solid var(--color--light--blue);
    }

    .row, .row__data {
        width: 720px;
    }

    .row__data > div, .row > div {
        width: 120px;
    }
}