.card {
    min-width: 380px;
    background-color: var(--color--white);
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.data__options__container {
    width: 200px;
}

.data__options {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    width: 100%;
}

.data__map__container {
    display: flex;
    width: 200px;
}

.data__map {
    width: 250px;
    height: 300px;
    border: none;
}

.rating__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img__rating {
    width: 50px;
    height: 50px;
    cursor: pointer;
    filter: grayscale(1);
}

.img__rating__active {
    filter: grayscale(0);
}

.img {
    width: 100%;
    min-width: 300px;
}

.btn__container {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.btn {
    background-color: #fff;
    color: var(--color--blue);
    padding: 5px 8px;
    border: 1px solid var(--color--blue);
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .img {
        min-width: 480px;
    }
}