.container--section--profile {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	background-image: url("../../assets/profile/bg_profile_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: var(--ff--lato);
}
.container--profile {
	width: 600px;
	padding: 10px 20px;
	background-color: rgba(255, 255, 255, 0.801);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile--button--updateData {
	width: 235px;
	padding: 15px;
	border: none;
	background-color: var(--color--green);
	color: var(--color--navy);
	transition: all 0.2s;
	font-weight: 700;
	text-transform: uppercase;
}

.profile--button--saveData {
	width: 250px;
	padding: 15px;
	border: none;
	background-color: var(--color--navy);
	color: var(--color--green);
	transition: all 0.2s;
	font-weight: 700;
	text-transform: uppercase;
}
